.galleryContainer {
    background-color: black;
    height: 100vh;
}

.cardsContainer {
    display: inline-block;
    padding: .5em 1em 1em 1em;
}

.mat-card {
    position: relative;
    border-radius: 4px;
    width: 300px;
    height: 300px;
    background-color: ivory;
    border: 5px solid #3DADDA;
}

.title {
    color: #F94F8C;
    font-family: 'Permanent Marker', cursive;
    font-size: 1em;
}

.crop img {
    object-fit: fill;
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 150px;
}

.mat-card-image {
    margin: 0 -17px 0 -16px;
}

#hint {
    font-size: .7em;
    font-family: 'Roboto';
    font-style: italic;
    color: black;
}

mat-card-content {
    margin: 0;
}

.productInfo {
    color: black;
}

mat-card-actions {
    margin-left: -8px;
    margin-right: -8px;
    padding: 0;
}

.btn {
    color: #F94F8C;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
}
