<div class="galleryContainer">
  <app-header></app-header>
  <div class="cardsContainer" *ngFor="let product of products$">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title class="title">{{ product.title }}</mat-card-title>
      </mat-card-header>
      <li class="crop">
        <div class="container">
          <mat-card-actions>
            <img mat-card-image src="{{ product.imageUrl }}" height="200" width="100" alt="paintingImage">
            <!-- <button mat-button class="btn" id="hint" (click)="openDialogPainting()">Click to Enlarge</button> -->
          </mat-card-actions>
        </div>
      </li>
      <mat-card-content class="productInfo">
        <p>Size: {{ product.size }} | Price: ${{ product.price }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="btn" (click)="openDialog(product.price, product.title)">Buy</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>