h1.mat-dialog-title {
    margin-bottom: 2px;
    font-size: 18px;
}

div {
    border: 0;
}

p {
    font: 500 Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    margin: 0;
}

.disclaimer {
    font-size: 12px; 
    text-align: center;
    padding-left: 60px;
}