<app-header></app-header>
<div class="container">
<h1>All Your Sales</h1>
</div>
<hr>
<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="StreetAddress">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">Street Address</mat-header-cell>
      <mat-cell *matCellDef="let purchase">{{purchase.streetAddress}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="AptNumber">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">Apt Number</mat-header-cell>
      <mat-cell *matCellDef="let purchase">{{purchase.aptNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="City">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">City</mat-header-cell>
      <mat-cell *matCellDef="let purchase">{{purchase.city}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="State">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">State</mat-header-cell>
      <mat-cell *matCellDef="let purchase">{{purchase.state}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Zip">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">Zip</mat-header-cell>
      <mat-cell *matCellDef="let purchase"> {{purchase.zip}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="BuyerEmail">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">Email</mat-header-cell>
      <mat-cell *matCellDef="let purchase"> {{purchase.buyerEmail}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">Details</mat-header-cell>
      <mat-cell *matCellDef="let purchase" routerLink="/purchase/detail/{{purchase.purchaseId}}">
        <i class="material-icons">library_books</i>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let purchase">
        <i class="material-icons" routerLink="/purchase/delete/{{purchase.purchaseId}}"> delete </i>
      </mat-cell>
    </ng-container>