
<div class="masthead-clearfix">
    <div class="navbar-collapse collapse">
        <div class="container">
            <nav class="nav navbar-expand-sm navbar-dark">
               
                    <span style="color: #16FFBD "> DRIPP </span>
                    <ul class="nav masthead-nav">
                    <button mat-raised-button class="btn"> About </button>
                    <button mat-raised-button class="btn" routerLink="/register"> Register </button>
                    <button mat-raised-button class="btn" routerLink="/login"> Login </button>
                    </ul>
               
            </nav>
        </div>
    </div>
</div>


