/* 
.span{
    margin-left: 5em;
}

p{
    color: #81A7FB;
}
.btn{
    margin-right: .5em;
    background-color: transparent;
    color: #49071f;
} 
body{
      background: rgb(30,30,30);
      color: white;
      font-family: sans-serif;
}
ul{
      list-style-type: none;
      position: absolute;
      left: 20px;
      top: 20px;
}
.underbar{
  width: 0;
  height: 5px;
  background: rgba(100,100,200,0);
  left: -50px;
  top: 20px;
  position: absolute;
  -webkit-transformation: 0.5s ease;

}
li{
  width: 50px;
  float: left;
  -webkit-transformation: 0.5s ease;
}

button:hover{
    text-shadow: 0px -2px 0px rgba(236, 112, 215, 0.692), 0 0 5px rgba(11, 38, 190, 0.8),0 -4px 15px rgba(255,255,255,0.5);
}
    
  a,
  a:hover {
      color: #ffced0;
      border-radius: 10%;
  }

  html,
  body {
      height: 100%;
      background-image: linear-gradient(to bottom right, #ffbb91, #49071f );
      padding: 50px;
  }
  
  body {
      color: #ffced0;
      text-align: center;
      text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }
   
  .masthead-clearfix {
      padding: 0;
      font-weight: bold;
      font: #ffced0;
  }
  .cover-container {
      margin-right: auto;
      margin-left: auto;
  }
  .cover {
      padding: 150px;
  }
  
  
  .masthead-nav > li {
      display: inline-block;
      padding-bottom: 8em;

      
  }
  
      .masthead-nav > li + li {
          margin-left: 50px;
          
      }
  
      .masthead-nav > li > a {
         padding-right: 0;
         padding-left: 0;
          padding-top: 1em;
          font-size: 16px;
          font-weight: bold;
          color: #ffced0;
          border-bottom: 2px solid transparent;
      }
  
   */

   h1{
    font-family: "Roboto", Arial, sans-serif;
    color: white;
   
}
h2{
    color:white;
}
p{
    color: #49071f;
}

.pulse {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/assets/img/heartResized.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
    border-radius: 60%;
    box-shadow: inset 0 0 40px rgba(193, 66, 66, 0.5);
}

    .pulse span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: transparent;
        border: 2px solid #8ccfd1;
        box-sizing: border-box;
        animation: animate 6s linear infinite;
    }

        .pulse span:nth-child(1) {
            animation-delay: 0s;
        }

        .pulse span:nth-child(2) {
            animation-delay: -4s;
        }

        .pulse span:nth-child(3) {
            animation-delay: 4s;
        }

@keyframes animate {
    0% {
        width: 200px;
        height: 200px;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}


@keyframes animateEarth {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 719px 0;
    }
}

@keyframes animatebg {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 719px 0;
    }
}
.wrapper{
    position: relative;
    margin-right: 600px;
    float: left;
}

#container{
    margin: 10em;
    text-align: center;
}
#contact{
    padding: 3em;

}
#about{
    text-align: center;
}
.parallax{
  background-image: url('/assets/img/river.jpg');
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  
}
/* .navbar-nav > li{
    display: inline-block;
}
    .navbar-nav > li + li {
        margin-left: 50px;
    } */
        .navbar-nav > li > a {
            font-size: 24px;
            font-weight: bold;
            color: white;
            text-shadow: 2px 2px rgb(248, 178, 98);
        }

.navContainer > a {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px rgb(228, 178, 98);

}
