h1{
    
    color: white;
   
}
h2{
    color:white;
}
p{
    color: #49071f;
}


        .navbar-nav > li > a {
            font-size: 20px;
            font-weight: bold;
            color: white;
            letter-spacing: 0px;
            margin-top: -15px;
           line-height: 1.8em;
        }

.navContainer{
    text-align: center;
}
.navContainer > a {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px rgb(228, 178, 98);
    float: center;

}
.navbar-brand > img {
    background-color: rgba(255, 255, 255, 0.5);
    
}