<body>
<div class="masthead-clearfix">
    <div class="navbar-collapse collapse">
        <div class="container">
            <nav class="nav navbar-expand-sm navbar-dark">
                    <ul class="nav masthead-nav">

                    <button mat-button class="btn">DRIPP</button>
                    <button mat-button class="btn"> About </button>
                    <button mat-button class="btn"> All Paintings </button>
                    <button mat-button class="btn" routerLink="/login"> Login </button>
                    <div class="underbar"></div>

                    </ul>
               
            </nav>
        </div>
    </div>
</div>
</body>



<div class="masthead-clearfix">
        <div class="navbar-collapse collapse">
            <div class="container">
                <nav class="nav navbar-expand-sm navbar-dark">
                  
                    <ul class="nav masthead-nav">
                        <li class="nav-item">Ya</li>
                        <li class="nav-item">Hey</li>
                        <li class="nav-item">BLah</li>
                        <li class="nav-item">BLah</li>
                        <li class="nav-item">BLah</li>
                        <li class="nav-item">BLah</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
