<body>
<div class="masthead-clearfix">
    <div class="navbar-collapse collapse">
        <div class="container">
            <nav class="nav navbar-expand-sm navbar-dark">
                    <ul class="nav masthead-nav">

                    <button mat-button class="btn">DRIPP</button>
                    <button mat-button class="btn"> About </button>
                    <button mat-button class="btn"> All Paintings </button>
                    <button mat-button class="btn"> Login </button>
                    <div class="underbar"></div>

                    </ul>
               
            </nav>
        </div>
    </div>
</div>
</body>




