<app-header></app-header>
<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <p>By Laura Nahas</p>
    <div class="aboutSection">I know nothing about art. I hope you don't either.
        Three years ago I started painting, and felt bogged down by all the fancy-pants terms that I saw
        other artists throwing around. To a most wildly beautiful and creative soul, may your fingers bleed from
        your climb and may you never stop. The gods give the hardest path to those
        who can endure. And you are one hot mama. Thank you for coloring my canvas. The colors you see
        here, I found in you.
    </div>
</body>

</html>