<app-header></app-header>

<!-- <router-outlet></router-outlet> -->
<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<div class="background">
    <nav class="navbar sticky-top navbar-expand-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav" id="gallery">
            <a class="nav-item nav-link active" routerLink="/products">Gallery</a>
        </div>
        <a class="navbar-brand" href="#">
            <img src="/assets/img/image (1).png" alt="logo" height="100" width="160" routerLink="/home">
        </a>
        <div class="navbar-nav" id="contact">
            <a class="nav-item nav-link active" routerLink="/contact">Contact</a>
        </div>
    </nav>
    <p>Paintings by:</p>
    <p>Juniper Johnson</p>
    <!-- <div class="aboutSection">I know nothing about art. I hope you don't either.
        Three years ago I started painting, and felt bogged down by all the fancy-pants terms that I saw
        other artists throwing around. To a most wildly beautiful and creative soul, may your fingers bleed from
        your climb and may you never stop. The gods give the hardest path to those
        who can endure. And you are one hot mama. Thank you for coloring my canvas. The colors you see
        here, I found in you.
    </div> -->
</div>

<!-- </html> -->