.background {
    background-image: url('/assets/img/colorSmoke.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

p {
    color: #F94F8C;
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    margin: 0;
}


 