p {
    color: #F94F8C;
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    padding-left: 7%;
}

.aboutSection {
    background-color: black;
    width: 420px;
    color: white;
    text-align: left;
    padding-top: 1em;
    padding-left: 5em;
}


 