

<div style="text-align:center">
  <router-outlet></router-outlet>
  <div class="container">
    <h1>
        WELCOME TO DRIPP!
    </h1>
    <!-- <img width="300" alt="Angular Logo" src="assets/img/bckdgalaxyResized.jpg"> -->
</div>
 
    <div class="wrapper">
        <div class="pulse">
            <div class="container">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    </div>
   
<body>
<section id="about">
    <h2>About Me</h2>
    <p> I know nothing about art. I hope you don't either. 
        Three years ago I started painting, and felt bogged down by all the fancy-pants terms that I saw other artists throwing around. 
        To a most wildly beautiful and creative soul, may your fingers bleed form your climb and may you never stop. The gods give the hardest path to those 
        who can endure. And you are one hot mama. Thank you for coloring my canvas. The colors you see here, I found in you.
    </p>

</section>
</body>