<h1> Edit your painting</h1>
<hr>

<div *ngIf="painting">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editPaintingForm">
    <div hidden>
      <mat-form-field>
        <input matInput placeholder="PaintingEntityId" formControlName="PaintingEntityId" type="PaintingEntityId" required [value]="painting.paintingEntityId" />
      </mat-form-field>
    </div>

    <!-- <button mat-icon-button>
          <i class="material-icons" (click)="IsSold(painting, $event)">star</i>
        </button>
      </div> -->
    
    <div>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="Title" type="Title" required [value]="painting.title" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Size" formControlName="Size" type="Size" required [value]="painting.size" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Price" formControlName="Price" type="Price" required [value]="painting.price" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Color" formControlName="Color" type="Title" required [value]="painting.color" />
      </mat-form-field>
    </div>

    <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
    <a mat-button routerLink="/painting/index">Back to list</a>
  </form>
</div>