<h1> Add a painting. </h1>
<hr>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="paintingForm">
  <div>
      <div>
          <mat-form-field>
            <input matInput placeholder="Artist" formControlName="Artist" type="Artist" required/>
          </mat-form-field>
      </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="Title" type="Title" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Size" formControlName="Size" type="Size" required/>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field>
          <input matInput placeholder="Color" formControlName="Color" type="String" required/>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
          <input matInput placeholder="Price" formControlName="Price" type="Price" required/>
        </mat-form-field>
    </div>

    <button type="button" md-button (click)="imgFileInput.click()">Add a photo</button>
    <input hidden type="file" #imgFileInput (change)="onFileChanged($event)">
    
    <button mat-raised-button class="nav-btn" color="accent" type="submit">Add painting!</button>

<a mat-button routerLink="/painting/index">Back to list</a>
</div>
</form>



