<p>
  login works!
</p>
<app-header></app-header>
<form (ngSubmit)="onSubmit()" [formGroup]="_registerForm">
  <div>
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" required />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password" required />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" required />
    </mat-form-field>
  </div>
  </div>
  <button mat-raised-button class="nat-btn" color="accent" type="submit">Register</button>
</form>